.slds-progress__item:after {
    top: 0;
}

.slds-progress__item {
    align-items: start;
}

.slds-progress__item_content {
    margin-top: 0;
}
.slds-progress__marker.slds-progress__marker_icon{
    margin-top: -2px;
}

.hyperLink {
    display: none;
}

.slds-progress__item.slds-is-active .hyperLink {
    display: block;
}